<%- include('partials/header'); -%>

<form action="/forgot" method="post">
    <h2>Forgot Password</h2>
   
    <label for="email">Email</label>
    <input type="text" name="email" required />
    
    <button type="submit">Sign up</button>
</form>

<%- include('partials/footer'); -%>
