<%- include('partials/header'); -%>

<header>
  <div>
    Bhidu Testing Frontend
  </div>
  <div class="headings">
    <h2>Testing</h2>
    <h3>Certified Moment</h3>
    <a href="/onboarding" class="btn">Onboarding</a>
  </div>
</header>


<%- include('partials/footer'); -%>