<%- include('partials/header'); -%>

<form action="/login" method="post">
    <h2>Login</h2>
    <label for="email">Email</label>
    <input type="text" name="email"  />
    <label for="passwd">Password</label>
    <input type="passwd" name="passwd"  />
    <button type="submit">login</button>
</form>

<%- include('partials/footer'); -%>
